@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
  font-family: 'Poppins', sans-serif;
}

:root{
  --primary-color:#1d9bf0;
  --secondary-color:#2f3336;
  --black:#000;
  --white:#fff;

  --primary-hover:#0174e0;
  --secondary-hover:#e7e9ea;

  --font-color:#e7e9ea;
  --font-color-2:#d6d9d8;

  --border-color:#536471;
  --border-color-2:#333639;
}

main,body{
  background-color: var(--black);
  color: var(--white);
}

button,a{
  cursor: pointer;
}

main{
  height: 92vh;
  display: grid;
  grid-template-columns:1fr 1fr; 
}

.left{
  height: 100%;
  display: grid;
  place-items: center;
  background-image: url(img/lohp_en_1302x955.png);
  background-position: cover;
}

#twitter_bird{
  aspect-ratio: 1/1;
  width: 60%;
}

.right{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 1rem 0;
}

.form{
  height: 50%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.form-logo{
  aspect-ratio:1/1;
  width:3rem;
}

.form-main-title{
  font-size: 4rem;
  margin: 4rem 0;
}

.form-second-title{
  font-size:2rem;
  margin-bottom: 2rem;
}

.form-logo svg{
  fill:var(--font-color);
}

.signup-option{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 54%;
}

.btn-prim{
  width:100%;
  padding: .5rem 4rem;
  font-size: 1rem;
  background-color:var(--white);
  border: none;
  border-radius:2rem;
  margin: .5rem 0;
}

.btn-prim:hover{
  background-color:var(--secondary-hover);
}

.btn-prim svg{
  width: 1rem;
  height: 1rem;
}

.dividers{
  width:100%;
  display: flex;
  align-items: center;
}

.dividers::after,
.dividers::before{
  content: '';
  display: inline-block;
  width: 50%;
  height: 1px;
  background-color: var(--border-color);
  margin-inline: .5rem;
}

.second-btn{
  background-color:var(--primary-color);
  color: var(--font-color);
  padding: .5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius:2rem;
  margin: .5rem 0;
  width: 100%;

  transition: all 200ms ease-out;
}

.second-btn:hover{
  background-color: var(--primary-hover);
}

.note,.note-link{
  font-size: .7rem;
  font-weight: 100;
}

.note{
  color:var(--font-color-2);
  /* width: 20ch; */
}

.note-link{
  color: var(--primary-color);
  text-decoration: none;
}

.login-option{
  margin: 4rem 0 0 0;
  color: var(--font-color-2);
  width:100%;
}

.btn-three{
  padding: .5rem 2rem;
  font-size: 1rem;
  background-color:var(--black);
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  border-radius:2rem;
  margin: 1rem 0;
  width: 100%;
}

.btn-three:hover{
  background-color: hsl(205, 35%, 11%);
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item-list{
  padding: 1rem .25rem;
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
  list-style: none;
  width: 138ch;
}

.footer-item{
  margin-left:1rem;
  font-size:.8rem;
  font-weight: 100;
  color: var(--font-color-2);
}